<div class="form">
    <form class="cmxform" id="contactForm" method="post">
        <div>
            <input type="text" name="AdSoyad" placeholder="Ad Soyad">
        </div>
        <div>
            <input type="text" name="Mail" placeholder="Email">
        </div>
        <div>
            <input type="text" name="Konu" placeholder="Konu">
        </div>
        <div>
            <p><input type="submit" value="Gönder" class="read" /></p>
        </div>
    </form>
</div>
<div class="form1">
    <div>
        <textarea name="Mesaj" placeholder="Mesajınız"></textarea>
    </div>
</div>

